<%= render_breadcrumbs %>
<div>
  <!-- toolbar -->
  <span class="pull-right">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Recent</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Trending</a></li>
      <li><input type="text" class="input-medium search-query pull-right" placeholder="Search"></li>
    </ul>
  </span>

  <!-- header -->
  <h1>Problems</h1>

</div>

<div class="row-fluid">

  <!-- categories -->
  <div class="span3">
    <ul class="nav nav-list well well-small">
      <li class="nav-header">Tags</li>
      <li class="active"><a href="#">All</a></li>
      <li><a href="#">Math</a></li>
      <li><a href="#">Science</a></li>
      <li><a href="#">Data</a></li>
      <li><a href="#">Storage</a></li>
    </ul>
  </div>

  <!-- problem list -->
  <div class="span9" id="problems">
    <%= render partial: 'problems' %>
  </div>


</div>
