<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Problem name</th>
    <th>Point value</th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to problem.problem_name, problem %></td>
    <td><%= problem.point_value %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
