<div class="hero-unit">
  <h1>Welcome to CodeFlash</h1>
  <p>
    CodeFlash aims at being a community driven site for solving problems, both
    simple and complex. CodeFlash will allow the community to decide what is the
    best solution to a problem in the hopes of supporting good programming
    practices and a strong community.
  </p>
</div>
