
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require select2
 *= require vendor
 */
@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins";
@import "bootstrap/buttons";
@import "bootstrap/button-groups";
@import "bootstrap/alerts"; 
@import "scaffolds";

/* all pages */

body {
  font-weight: lighter;
  padding-top: 60px;
  padding-left: 20px;
}

.avatar {
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
}

.navbar .nav > li > .avatar-link {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.navbar {
  position: static;
}

#navbar-container {
  max-width: 960px
}

.navbar .pull-right > li > a {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

#main {
  max-width: 960px;
  margin: 25px auto;
  margin-bottom: 0px;
}

footer {
  text-align: center;
  font-size: 12px;
  li {
    display: inline;
    margin-right: 20px;
  }
}

h1, h2, h3, h4, h5, h6,
#problems, #solutions,
.breadcrumb, .solution-heading {
  word-wrap: break-word;
}

@media (max-width: 480px) {
  body, #main {
    margin: 0px !important;
    padding: 0px;
  }
}

.compact-form {
  input[type=text], input[type=email], input[type=password] {
    width: 95%;
  }
}

pre.highlighted {
  padding: 0px;
  border: none;
  margin-bottom: 0px;
}
.red{
  color: #990000;
}

/* Note: This is borrowed from the source for .icon-spin in Font Awesome. We
 * don't like "display: inline-block;" though, so that's why I'm making a custom
 * class for making non-icons spin. */
.spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
