// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name{
 	font-size: 24pt;
 	font-weight: bold;
 	letter-spacing: -1px;
}

.username{
	font-size: 24pt;
}

.lighter {
	font-weight: lighter;
}