// Place all the styles related to the Solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor {
  position: relative;
  height: 275px;
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.code-container {
  padding: 0px;
  margin: 0px;;
}

.highlight {
  border: .5px solid rgba(0,0,0,0.15);
  border-radius:4px;
}

.highlight pre {
  margin-bottom: 0px;
  background-color: transparent;
}

.solution {
  margin: 0px;
}

.accordion-group{
  margin-bottom: 7px;
}

.solution-heading{
  margin-bottom: 0px;
  border:.5px;
}

.solution:hover{
	cursor: pointer;
	box-shadow: 0px 0px 5px #0088cc;
    border-color: #0088cc;
    border-radius: 4px;
}

.nomargin {
  margin: 0px;
}

.nopadding {
  padding: 0px;
}