// Place all the styles related to the Solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor {
  position: relative;
  height: 275px;
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.solution-heading{
  margin-bottom: 0px;
}

.solution:hover{
	cursor: pointer;
}
