<div class="media">
  <a class="pull-left" href=<%= achievement_path achievement %> >
    <img class="media-object" data-src="holder.js/96x96">
  </a>
  <div class="media-body">
  <h4 class="media-heading"><%= achievement.name %><span class="muted"> (<%= achievement.points %> points)</h4>
    <%= achievement.description %>
  </div>
</div>