<%= render_breadcrumbs %>
<% if can? :create, Achievement %>
  <div class="pull-right">
    <%= link_to 'New Achievement', new_achievement_path, class: "btn btn-primary" %>
  </div>
<% end %>
<h1>Achievements</h1>

<hr>
<% @achievements.each do |achievement| %>
  <%= render "compact", achievement:achievement, header:"h4", image_size:"96x96" %>
<% end %>