<%= ajax_loadzone do %>
    <% @solutions.each do |solution| %>
        <%= render 'solutions/compact', solution: solution %>
    <% end %>
<% end %>
<%= ajax_links section_id: 'solutions' do %>
    <div class="pagination-centered">
        <%= will_paginate @solutions %>
    </div>
<% end %>