<div class="accordion" id="accordion">
  <% @solutions.each_with_index do |solution, index| %>
    <%= render 'solutions/compact', solution: solution, index: index, collapsed: true%>
  <% end %>
</div>
<div class="pagination-centered">
  <%= paginate @solutions %>
</div>