<div class="accordion" id="accordion">
<%= render partial: @solutions, locals: {collapsed: true}, cache: true %>
</div>

<div class="pagination-centered">
  <%= paginate @solutions %>
</div>

<script>
$(".solution").click(function(){
     window.location=$(this).attr("href");
     return false;
});
$(".solution").tooltip();
</script>