<div>

  <!-- toolbar -->
  <span class="pull-right">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Recent</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Trending</a></li>
      <li><input type="text" class="input-medium search-query pull-right" placeholder="Search"></li>
    </ul>
  </span>

  <!-- header -->
  <h1>Solutions</h1>

</div>

<div class="row-fluid">

  <!-- languages -->
  <div class="span3">
    <ul class="nav nav-list well well-small">
      <li class="nav-header">Languages</li>
      <li class="active"><a href="#">All</a></li>
      <% Language.all.each do |language|
            num = @problem.solutions.find_all{|s| s.language == language}.count
            if num != 0 %>
              <li><a href="#"><%= "#{language.name} (#{num})" %></a></li>
            <%end%>
         <% end %>
    </ul>
  </div>

  <!-- problem list -->
  <div class="span9">
    <% @solutions.each do |solution| %>
      <%= render 'solutions/compact', solution: solution %>
    <% end %>
    <div class="pagination-centered">
      <%= will_paginate @solutions %>
    </div>
  </div>
</div>


<!-- Hide the code view by default -->
<script type="text/javascript">
    $('.hide').hide();
</script>

<link rel="stylesheet" href="/assets/highlight.js/styles/monokai.css">
<script src="/assets/highlight.js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
